<div class="container__big-card">

  <div class="big-card__photo">
    <img
      src="https://m.media-amazon.com/images/M/MV5BMGY3OTFjNTAtMWFhNS00ZjdmLTg4MDQtZmJmNzQxOWY2ODhiXkEyXkFqcGdeQXVyNjMxMTE2Mjg@._V1_.jpg"
      alt=""
      height="200px"
      srcset=""
      >
  </div>

  <div class="big-card__title">
    <h1><a href="#"> Nova versão do Angular é lançada !</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non nisi ante. Maecenas quis suscipit justo, et facilisis augue. Duis justo ex, ornare sit amet turpis nec, accumsan sodales metus.
      </a>
    </p>
  </div>

</div>
